{
	"semi": true,
	"tabWidth": 4,
	"printWidth": 120,
	"useTabs": true,
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"singleQuote": true,
	"bracketSameLine": true,
	"endOfLine": "auto",
	"singleAttributePerLine": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
