@charset "utf-8";

@import './variable.less';

html,
body {
	margin: 0;
	padding: 0;
}

a {
	color: #0076f6;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		color: #0076f6;
	}
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
ul {
	margin: 0;
	padding: 0;

	dt,
	dd,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

img {
	display: inline-block;
}
